@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    max-width: 1440px;
    height: 100%;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif; 
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 335px;
    margin: 50px;
    padding: 25px;
    border: solid black 1.8px;
    border-radius: 20px;
    background-color: white;
    gap: 30px;
    box-shadow: 10px 10px 0px 0px black;
    font-size: small;
    font-weight: 500;
}

.illustration-image img {
    border-radius: 10px;
    max-width: 280px;
    min-height: 200px;
    object-fit: cover;
}

.mini-card {
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 800; 
    font-size: small;
}

.top-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-info h1 {
    font-size: large;
    cursor: pointer;
}

.main-info h1:hover {
    color: hsl(47, 88%, 63%);
}

:hover

.main-info p {
    color: hsl(0, 0%, 42%);
    line-height: 1.6;
    font-weight: 600;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-section {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: bolder;
}

.profile-section img {
    width: 35px;
}
